<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<!--
    这里包含了每个页面的公共模块
-->
<!--头部模块-->
<div class="layui-header" th:fragment="head">
    <div class="layui-logo">
        <img th:src="@{/img/logo.png}" class="layui-nav-img"></img>
        来电爬虫管理
    </div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <!--<ul class="layui-nav layui-layout-left">-->
        <!---->
    <!--</ul>-->
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:;">其它系统</a>
            <dl class="layui-nav-child">
                <dd><a href="">来电CRM</a></dd>
                <dd><a href="">来电OA</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">
                <img src="https://skywalker-pic.oss-cn-shenzhen.aliyuncs.com/logo.jpg" class="layui-nav-img"></img>
                admin
            </a>
            <dl class="layui-nav-child">
                <dd><a href="">基本资料</a></dd>
                <dd><a href="">安全设置</a></dd>
            </dl>
        </li>
        <!--<li class="layui-nav-item"><a href="">退了</a></li>-->
    </ul>
</div>
<!--导航栏模块-->
<div class="layui-side layui-bg-black" th:fragment="nav(active)">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
            <li id="m1" class="layui-nav-item">
                <a th:href="${#httpServletRequest.getContextPath()+'/'}">爬虫管理</a>
            </li>
            <li class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;">数据浏览</a>
                <dl class="layui-nav-child">
                    <dd id="m2">
                        <a th:href="${#httpServletRequest.getContextPath()+'/dianping/list.html'}">大众点评</a>
                    </dd>
                    <dd id="m3">
                        <a th:href="${#httpServletRequest.getContextPath()+'/dianping/list.html'}">医疗商务网</a>
                    </dd>
                    <dd id="m4">
                        <a th:href="${#httpServletRequest.getContextPath()+'/dianping/list.html'}">客运站</a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
    <script th:inline="javascript">
        var active = [[${active}]];
        $(active).addClass('layui-this');
    </script>
</div>
<!--底部模块-->
<div class="layui-footer" th:fragment="foot">
    <!-- 底部固定区域 -->
    © imlaidian.com 2017
    <script>
        //JavaScript代码区域
        layui.use('element', function () {
            var element = layui.element;
        });
    </script>
</div>

</body>
</html>