<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>SkyMall | 商城</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/common.css}" rel="stylesheet" type="text/css" />
    <script th:src="@{/layui/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/layui/layui.js}"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头部模块-->
    <div th:replace="mall/common::head"></div>
    <div class="layui-container" id="content">
        <!--热门商品-->
        <div class="layui-row">
            <div class="layui-col-md12"><h1 class="site-h1"><i class="fa fa-heart" style="color: #FF5722;"></i> &nbsp;热门商品</h1></div>
        </div>
        <div class="layui-row">

        </div>
        <!--最新商品-->
        <div class="layui-row">
            <div class="layui-col-md12"><h1 class="site-h1"><i class="fa fa-calendar" style="color: #FFB800;"></i> &nbsp;最新商品</h1></div>
        </div>
        <div class="layui-row">

        </div>
    </div>
    <!--底部-->
    <div th:replace="mall/common::foot"></div>
</div>
</body>
</html>